include INSTALL
include LICENSE
include MANIFEST.in
include NOTES
include README.rst
recursive-include docs *.rst *.py Makefile
recursive-include mptt2 *.json
recursive-include mptt2/templates *
recursive-include mptt2/locale *
recursive-include mptt2/static *
global-exclude __pycache__ *.pyc